/* styles go here */
.form-field {
  display: block;
}

.marginBottom {
  margin-bottom: 10px;
}

/* select {
  overflow-y: auto;
} скрывает полосу прокрутки в select*/

.marginBottomFieldset {
  margin-bottom: 20px;
}

input[type="number"] {
  width: 65px;
}
